<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-container">
    <!--Nav Logo-->
    <a href="/" class="cs-logo" aria-label="Company Name Home page">
      <img
        src="/assets/svgs/logo-light.svg"
        alt=""
        width="180"
        height="20"
        aria-hidden="true"
        decoding="async"
      />
    </a>
    <a href="#hero-143" class="cs-nav-button">Home</a>
    <div class="line"></div>
    <a href="#cs-contact-265" class="cs-nav-button">Contact Me</a>
  </div>
</header>
